<?php
$host = "localhost";
$dbname = "flightdb2";
$user = "openflights";
$password = "";

// Authentication for creating Github issues from suggested data updates.
// https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#fine-grained-personal-access-tokens
// Note, these expire at max a year...

// Repo used will end up being $GITHUB_USER/$GITHUB_REPO.
$GITHUB_REPO = "openflights";
// This is the username/organisation that the repo lives under.
// Not actually used for login.
$GITHUB_USER = "YOUR_USERNAME";
// The user that this belongs to (which does not have to be the same as $GITHUB_USER), that issues
// will be created as, as comments left as.
$GITHUB_ACCESS_TOKEN = "YOUR_TOKEN";

// Enable non-English locales? (true/false)
// True requires PHP gettext extension, false works only if the extension is *not* installed
$OF_USE_LOCALES = true;

// Allow the creation of new accounts?
$OF_ENABLE_SIGNUP = true;

// OpenFlights UID for admin user(s), used only for special access to airport/airline DBs
// Historically, this was an integer, but now it accepts an array of integers.
$OF_ADMIN_UID = [ 3 ];

// OpenFlights UID for the account used for "demo mode"
$OF_DEMO_UID = 1;
